/* Output Styling */
#output-box {
    margin: 2em auto;
    background: white;
    padding: 0.5em;
    border-radius: 5px;
    border: 3px solid #78c2ad69;
    color: #666464;
    max-width: 500px;
    overflow: scroll;
    height: 35vh;
}

#output-heading {
    margin-bottom: 2em;
    font-weight: bold;
    font-family: monospace;
}

#output-box h2 {
    font-size: calc(0.825rem + .6vw);
    font-weight: bold;
}

#output-tbody td {
    font-family: system-ui;
}

.separator {
    color: #78c2ad69;
}


/* #output-table thead {
    border-bottom: transparent solid 1em;
}

 #output-table thead:last-child {
    display: block;
    margin-bottom: 1em;
} 

#output-table th {
    width: 100%;
}

#output-table tbody {
    border-top: #ececec solid 2px;
} 

.endOfSentence {
    border-bottom: #ececec solid 2px;
    margin-bottom: 2px;
} */


table {
    table-layout: fixed;
    width: 100%;
}

td {
    overflow: scroll;
}

#continueText {
    font-style: italic;
    color: #888888;
    display: table-caption;
}

/* Download File Styling */
#btnFileDownload, #file-download a {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}

.btn-secondary { /* Override class .btn-secondary style variables from bootstrap css */
    --bs-btn-color: #fff;
    --bs-btn-bg: #639ee1;
    --bs-btn-border-color: #6199da;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3083dcd6;
    --bs-btn-hover-border-color: #3083dcd9;
    --bs-btn-focus-shadow-rgb: 153, 203, 232;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3083dcd6;
    --bs-btn-active-border-color: #3083dcd9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #9dbfe3;
    --bs-btn-disabled-border-color: #93b4d7;
}

/* Progress Text Styling */
#progress-box {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#progress-text {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 0.5em;
    display: flex;
    /* width: fit-content; */
    margin: 0 auto;
    letter-spacing: 0.75px;
    white-space: nowrap;
    animation: 
        fade-in 5s;
}

#progress-dots {
    display: flex;
    overflow: hidden;
    color: transparent;
    animation: typing-dots 1s steps(6, end);
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

/* Typing effect credit: https://css-tricks.com/snippets/css/typewriter-effect/ */
@keyframes fade-in { 
    from { color: #88888829 }
    to { color: #888 }
}
@keyframes typing-dots {
    from { width: 0; color: #888; }
    to { width: 22%; color: #888; }
}
